@model Covid19MVC.Models.PersonalInfo

@{
    ViewBag.Title = "Details";
}

<h2>Personal Information</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Firs name</label>
            @*@Html.DisplayNameFor(model => model.FirstName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            <label>Last name</label>
            @*@Html.DisplayNameFor(model => model.LastName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            <label>City</label>
            @*@Html.DisplayNameFor(model => model.City)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            <label>Street</label>
            @* @Html.DisplayNameFor(model => model.Street)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            <label>House number</label>
            @* @Html.DisplayNameFor(model => model.NumberStreet)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberStreet)
        </dd>

        <dt>
            <label>Date of birth</label>
            @*@Html.DisplayNameFor(model => model.DateOfBirth)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            <label>House phone</label>
            @*@Html.DisplayNameFor(model => model.Phone)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            <label>Cellphone</label>
            @* @Html.DisplayNameFor(model => model.Cellphone)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cellphone)
        </dd>

        <dt>
            <label>First vaccination date</label>
            @* @Html.DisplayNameFor(model => model.VacDate1)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VacDate1)
        </dd>

        <dt>
            <label>First vaccine manufacturer</label>
            @*@Html.DisplayNameFor(model => model.VacMaker1)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VacMaker1)
        </dd>

        <dt>
            <label>Second vaccination date</label>
            @*@Html.DisplayNameFor(model => model.VacDate2)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VacDate2)
        </dd>

        <dt>
            <label>Second vaccine manufacturer</label>
           @* @Html.DisplayNameFor(model => model.VacMaker2)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VacMaker2)
        </dd>

        <dt>
            <label>Third vaccination date</label>
            @*@Html.DisplayNameFor(model => model.VacDate3)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VacDate3)
        </dd>

        <dt>
            <label>Third vaccine manufacturer</label>
            @*@Html.DisplayNameFor(model => model.VacMaker3)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VacMaker3)
        </dd>

        <dt>
            <label>Fourth vaccination date</label>
            @*@Html.DisplayNameFor(model => model.VacDate4)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VacDate4)
        </dd>

        <dt>
            <label>Fourth vaccine manufacturer</label>
            @*@Html.DisplayNameFor(model => model.VacMaker4)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VacMaker4)
        </dd>

        <dt>
            <label>Sick date</label>
            @*@Html.DisplayNameFor(model => model.SickDate)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SickDate)
        </dd>

        <dt>
            <label>Recovery date</label>
            @* @Html.DisplayNameFor(model => model.RecoveryDate)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecoveryDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Return to the list of HMO members", "Index")
</p>
